body {
    background-color: #FEE1DB; /* light pastel pink */
    color: #623F99; /* contrasting dark purple */
}

.navbar {
    background-color: #C9C6F2; /* pastel periwinkle */
}

.nav-item a {
    color: #623F99; /* dark purple */
    transition: color 0.5s ease-in-out;
}

.nav-item a:hover {
    color: #FEB5A6; /* pastel coral */
}

header,
footer {
    background-color: #CDCED1; /* pastel grey */
    color: #623F99; /* dark purple */
}

.container {
    background-color: #FDFAF6; /* off-pastel white */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    color: #FEB5A6; /* pastel coral */
}

a:hover {
    color: #623F99; /* dark purple */
}

.table {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.table th {
    background-color: #CDCED1; /* pastel grey */
    color: #623F99; /* dark purple */
}

.table td {
    background-color: #FDFAF6; /* off-pastel white */
    transition: background-color 0.5s ease-in-out; /* added transition */
}

.table td:hover { /* added hover effect */
    background-color: #C9C6F2; /* change color to pastel periwinkle when hover */
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.search-input {
    width: auto;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}

.search-btn {
    background-color: #2A363B;
    color: #FECEA8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    width: auto;
}

.search-btn:hover {
    background-color: #99B898;
    color: #2A363B;
}

@media screen and (max-width: 600px) {
    .search-input {
        width: 100%; /* full width on small screens */
        margin-bottom: 5px; /* space between input and button */
    }

    .search-btn {
        width: 100%;
    }
}