body {
    background-color: #FEE1DB; /* light pastel pink */
    color: #623F99; /* contrasting dark purple */
}

.navbar {
    background-color: #C9C6F2; /* pastel periwinkle */
}

.nav-item a {
    color: #623F99; /* dark purple */
    transition: color 0.5s ease-in-out;
}

    .nav-item a:hover {
        color: #FEB5A6; /* pastel coral */
    }

header,
footer {
    background-color: #CDCED1; /* pastel grey */
    color: #623F99; /* dark purple */
}

.container {
    background-color: #FDFAF6; /* off-pastel white */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    color: #FEB5A6; /* pastel coral */
}

    a:hover {
        color: #623F99; /* dark purple */
    }


.table {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

    .table th {
        background-color: #CDCED1; /* pastel grey */
        color: #623F99; /* dark purple */
    }

    .table td {
        background-color: #FDFAF6; /* off-pastel white */
    }
