body {
    background-color: #FFFACE; /* light pastel yellow */
    color: #2A363B; /* dark blue */
}

.navbar {
    background-color: #FE9C8F; /* pastel red */
}

.nav-item a {
    color: #2A363B; /* matching dark blue */
    transition: color 0.5s ease-in-out;
}

    .nav-item a:hover {
        color: #FF847C; /* pastel coral */
    }

header,
footer {
    background-color: #99B898; /* pastel green */
    color: #2A363B; /* dark blue */
}

.container {
    background-color: #FECEA8; /* pastel orange */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    color: #FF847C; /* pastel coral */
}

    a:hover {
        color: #2A363B; /* dark blue */
    }

.table {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

    .table th {
        background-color: #99B898; /* pastel green */
        color: #2A363B; /* dark blue */
    }

    .table td {
        background-color: #E5FCC2; /* cool pastel green */
    }

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    width: auto;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}

.search-btn {
    background-color: #2A363B;
    color: #FECEA8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    width: auto;
}

.search-btn:hover {
    background-color: #99B898;
    color: #2A363B;
}

@media screen and (max-width: 600px) {
    .search-input {
        width: 100%; /* full width on small screens */
        margin-bottom: 5px; /* space between input and button */
    }

    .search-btn {
        width: 100%;
    }
}