body {
    background-image: url('../images/background-headphones.jpg');
    font-family: Arial, sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
}

.display-4,
.card-title {
    color: #333;
}

.display-4, .lead {
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Georgia', sans-serif;
    font-size: 1em;
    
    animation: fadeIn 5s;

}

@keyframes fadeIn {
    0% {
        -ms-opacity: 0;
        opacity: 0;
    }

    100% {
        -ms-opacity: 1;
        opacity: 1;
    }
}
.lead,
.card-text {
    color: #555;
}

.card {
    box-shadow: 0 4px 8px 0 #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 500px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    background-color: #f8f8f8;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:hover {
    background-color: #138496;
    border-color: #117a8b;
    color: white;
}

.white-text {
    color: white;
    white-space: pre-line;
}