/*Sets body margin and padding to 0. This strips away browser default styles.*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*This helps dimensions (like width and height) to include content, padding and border, but not the margin.*/
}

/* General container for body content */
.container {
    width: 80%; /* This means it occupies 80% of the viewport width. */
    margin: 0 auto; /* This centers the container. Change values as needed.*/
}

/* Styles for the Navbar */
.navbar {
    display: flex; /* This creates a flex container which helps align child items.*/
    justify-content: space-between; /* This evenly distributes items along the axis.*/
    padding: 20px 0; /* Increase/decrease this value to increase/decrease spacing */
}

/* Styles for the main content */
.main {
    margin: 20px 0; /* Increase/decrease this value to increase/decrease spacing */
}

/* Styles for the footer */
.footer {
    position: fixed; /* This makes the footer stay at the bottom of the page.*/
    left: 0; /* Aligns the footer to start from left 0 */
    bottom: 0; /* Aligns the footer to start from bottom 0 */
    width: 100%; /* The footer occupies the full width*/
    text-align: center; /* Centers the footer content */
}