/* in ~/css/header.css */
.navbar-brand img {
    height: 100%;
    max-height: 50px;
}

.navbar{
    background-color:#060d07
}

body {
    background-image: url('/images/background.png');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover; 
    color: #fff;
}



.nav-item a {
    color: #fff;
    transition: color 0.5s ease-in-out;
}

    .nav-item a:hover {
        color: #1DB954; /* Spotify green color */
    }

header,
footer {
    background-color: #2B2B2B;
    color: #fff;
}

.container {
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    color: #1DB954;
}

    a:hover {
        color: #fff;
    }