body {
    background: #121212;
    color: #FFFFFF; /* This makes all unspecified text white */
    font-family: Arial, sans-serif;
}

.text-center {
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF; /* This makes all text within element with 'text-center' class white */
}

h1.display-4 {
    font-size: 3.5em;
    color: #1DB954; /* This keeps header with class 'display-4' green */
}

p {
    font-size: 1.2em;
    color: #FFFFFF; /* This makes all paragraph text white */
}

a {
    color: #FFFFFF; /* This makes all link text white */
}

    a:hover {
        color: #1ed760; /* This keeps the color change when hovering over links */
    }
