@{
    ViewData["Title"] = "Music Groups";
}
<link href="~/css/home.css" rel="stylesheet" />

<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 white-text">Descubre los mejores grupos musicales</h1>
            <p class="lead white-text">Disfruta de la buena música</p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-4">
            <div class="card">
                <img src="https://i.pinimg.com/originals/91/fa/d2/91fad2672c93e7e574bcadd1c6047f7c.jpg" class="card-img-top" alt="Band Image">
                <div class="card-body">
                    <h5 class="card-title">Albumes</h5>
                    <p class="card-text">Tenemos los álbumes más famosos de todas las épocas</p>
                    <a href="http://localhost:5098/Albumes" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.bbva.com/wp-content/uploads/2020/05/festival2.jpg" class="card-img-top" alt="Band Image">
                <div class="card-body">
                    <h5 class="card-title">Festivales</h5>
                    <p class="card-text">Descubre los próximos festivales de tus grupos favoritos</p>
                    <a href="http://localhost:5098/Festivals" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://whatculture-create-cms.s3.amazonaws.com/media/2014/12/2.1607856-600x338.jpg" class="card-img-top" alt="Band Image">
                <div class="card-body">
                    <h5 class="card-title">Canciones</h5>
                    <p class="card-text">Escucha las canciones más míticas en la historia del rock</p>
                    <a href="http://localhost:5098/Canciones" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 text-center">
            <h2>Te animamos a conocer a todos nuestros artistas</h2>
            <p class="lead">Echa un ojo a todos los que tenemos</p>
            <a href="http://localhost:5098/Artistas" class="btn btn-primary">Ver los grupos</a>
        </div>
    </div>
</div>